<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet"   href="/styles/style.css" />
    <title>Introduction</title>
</head>
<body>
     <diV class="top">
         <div>
            <h1> Chukwuma Oparaeke</h1>
            <h2> https://internship.zuri.team/</h2>
         </div>
         <div class="images">
            <img  src="/images/zuri.png" class="img"/>
            <img  src="/images/hng.png"  class="img"/>
            <img  src="/images/ingressive.png"  class="img"/>
        </div>
 </diV>

</body>
</html>